
body {
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background-image: url(https://www.avvillas.com.co/avvillas/novedad-Tarjeta-Debito-Mastercard/img/header.jpg);
}

.titulo {
    margin-top: 150px;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.saludo {
    position: absolute;
    margin-top: 50px;
    right: 100px;  
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

.opciones {
    position: absolute;
    left: 25%;
    margin-top: 5%;  
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-oscuro-fibra-carbono-lineas-metal_1017-23624.jpg?w=2000);
    position: absolute;
    right: 43%;
    margin-top: 5%;  
    color: rgb(170, 33, 33);
    font-size: larger;
    width: 13%;
    height: 16%;
    border-radius: 10px;
    
    
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

extraccion{
    display: none;
}


.ocultarDisplay{
    display: none;
}

